doctype
html(lang='ja')
	head
		meta(charset='utf-8')
		meta(name='viewport', content='width=device-width, initial-scale=1')
		title TSG麻雀対戦ログ
		style
			include node_modules/bulma/css/bulma.css
	body
		section.section
			.container
				h1.title= name
				p.subtitle= name
